<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>S3 list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

        <div class="container-fluid" style="max-width: 600px; margin: 0 auto;">
            <h2 class="text-center">List of Files</h2>

            <div th:if="${files.size() > 0}">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">File Name</th>
                        <th scope="col">Link</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="file : ${files}">
                        <form id="renameForm" th:action="@{/files}" th:object="${params}" method="post" enctype="multipart/form-data">
                            <td>
                                <input th:id="*{key}" th:value="${file.key}" readonly/>
                            </td>
                            <td>
                                <input type="file" th:id="*{image}" />
                            </td>
                            <td>
                                <button class="btn" type="submit" >Update Image</button>
                            </td>
                        </form>
                        <td>
                            <a th:href="@{'/files/delete/' + ${file.key}}" th:fileKey="${file.key}" id="btnDelete"
                               title="Delete this file" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:unless="${files.size() > 0}">
                <span>No files found!</span>
            </div>
        </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>
